body {
    background-image: url("grey-bkg.jpg");
}

.hr-color {
    width: 80%;
    height: 50px;
}

img {
    height: 150px;
    margin: 30px auto;
    border: solid;
    border-color: palegreen;
    
}

#contact {
    margin: 20px auto;
    text-align: center;
}
.hr-size {
    width: 60%;
    height: 4px;
    margin: 20px auto;
    border-color: palegreen;
}

.portfolio-img {
    height: 150px;
}

.skill-img {
    height: 75px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #343a40;
    padding: 20px;
    /* font-weight: bold; */
}

.footer-row {
    margin: 20px auto;
}

.media-body {
    margin: 30px auto;
}

#skills-section {
    margin: 10px auto;
}

#linkedin-link {
    text-align: right;
}

#email-link {
    text-align: left;
}

.contact-me {
    color: palegreen;
}

a {
    color: white;
}

a:hover {
    color: palegreen;
}

#copyright {
    color:  #343a40;
    background-color: palegreen;
    margin-top: 20px;
}

.navbar-dark .navbar-brand {
    color: palegreen;
}

h1, h3, h4 {
    color: #343a40;
    text-decoration: underline;
    text-decoration-color:  #343a40;
}

.media {
    margin-top: 20px;
}

.media .media-body {
    margin-bottom: 0px;
    margin-top: 40px;
    padding-bottom: 0px;
}

#skill-section {
    margin-top: 0px;
    padding-bottom: 0px;
}

.full-stop {
    color: palegreen;
}